{% extends 'base.html.twig' %}

{% block title %}Informations{% endblock %}

{% block body %}
<div class="container-fluid"> 
    <div class="row">
        <div class="col-md-6 col-sm-8">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2889.3408119027017!2d3.9026539999999987!3d43.599444999999996!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12b6af889908ee63%3A0x68bf4940d50291f7!2sCabinet+d'ost%C3%A9opathie+du+Nuage+Montpellier!5e0!3m2!1sfr!2s!4v1421059476102" width="400" height="300" frameborder="0" style="border:0"></iframe>
        </div>
        <div class="col-md-4 offset-md-2 col-sm-8">
            <br/>
            Prenez rdv en ligne: <br/><br/>
            <a href="https://www.1clic1doc.com/s/34000-montpellier-34172/osteopathie/osteopathe-montpellier#book" target="_blank&quot;"><img src="images/logomrs.png"></a>
        </div>
    </div>
</div>
{% endblock %}

