{% extends 'base.html.twig' %}

{% block title %}Présentation de votre Osthéopate{% endblock %}

{% block body %}
    {# les doubles accolades permettent de faire un echo #}
    {# Message : {{ message }} #} 
    <br/>
    <h1>Votre osteo :</h1>

    <p>
    Parcours :</p>
    <p>
    Titulaire d&#39;une licence de STAPS en entrainement sportif, je me
    suis redirigé vers l&#39;Ostéopathie. En effet je m’intéressais plus aux blessures
    sportives qu&#39;à l&#39;enseignement même du sport.</p>
    <p>
    Diplômé du Collège Ostéopathique Européen à Cergy, suite à une
    formation en 5 ans, durant laquelle j&#39;ai appris à traiter tous les types de
    patients tels que des nourrissons, des femmes enceintes, des sportifs, ou
    encore des personnes âgée.</p>
    <p>
    L&#39;école du Collège Ostéopathique Européen est agrée par le ministère de
    la santé, lui délivrant ainsi le Diplôme d&#39;Ostéopathe ( D.O ), qui permet
    l&#39;usage du Titre d&#39;Ostéopathe, et l&#39;exercice libéral d&#39;Ostéopathe. De plus,
    elle fait partie des 11 écoles françaises d&#39;ostéopathie, habilitées de Niveau
    1 par le Ministère du Travail.</p>
    <p>
    J&#39;adapte ma pratique Ostéopathique en fonction du patient, de ses
    antécédents et de son motif de consultation. Pour ce faire j&#39;utilise des
    techniques structurelle, fasciales, crâniennes et viscérales.</p>
    <p>
    <strong>Je vous accueille, sur rendez-vous, au Nuage de Montpellier, les Mardi,
    Jeudi et Samedi, 769 avenue de la mer Raymond Dugrand, 34000
    Montpellier.</strong></p>

    <p>
    Diplôme et formation :</p>
    <p>
    Licence de STAPS:</p>
    <p>
    Spécialisé en entrainement sportif.</p>
    <p>
    Ostéopathe DO: </p>
    <p>
    Diplômé du Collège Ostéopathique Européen de Cergy Saint-Christophe à
    la suite d&#39;une formation initiale de 5 ans. Je suis à ce jour Ostéopathe
    exclusif.</p>
    <p>
    Master II en Médecine Ostéopathique: </p>
    <p>
    Titulaire d&#39;un Master II d&#39;Ostéopathie avec mention de la faculté de
    DRESDE en Allemagne, après avoir présenté un mémoire de cas cliniques
    et une recherche de littérature.</p>
    <p>
    Physionutrition: </p>
    <p>
    Diplômé de l&#39;Institut Européen de Physionutrition et Phytothérapie.</p>
    <p>
    Etude de la flore intestinale:</p>
    <p>
    Diplômé de L&#39;European College of Integrative Medicine</p>


{% endblock %}